body {

}

.container {
    width: 100%;
    display:flex;
    margin: 0 auto;
    max-width: 1200px;
}

.cabecalho {
    flex-basis: 30%;
}

.cabecalho__logo {
    margin-bottom: 50px;
}

.cabecalho figcaption {
    display: none;
}

.cabecalho__logo img {
    width: 26px;
}

.cabecalho__menuNavegacao {

}

.cabecalho__menuLista {

}

.cabecalho__menuItem {
    margin-bottom: 25px;
    
}

.cabecalho__menuItem img {
    max-width: 26px;
}

.cabecalho__menuItem a {
    color: #000;
    font-size: 20px;
    vertical-align: top;
    text-decoration: none;
}

.conteudoPrincipal {
    flex-basis: 70%;
}

.conteudoPrincipal__titulo {}

.conteudoPrincipal__formulario {}

.conteudoPrincipal__formulario textarea {}

.conteudoPrincipal__formulario button {}

.conteudoPrincipal__feed {}

.conteudoPrincipal__listaTweets {}

.conteudoPrincipal__tweet {}

.teet__fotoPerfil {}

.teet__conteudo {}

.tweet__conteudo h2 {}

.tweet__conteudo span {}

.tweet__conteudo p {}

